* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
}
body {
    min-height: 100vh;
    background-color: #050505;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
}
.blur {
    filter: blur(12px);
    transition: filter 0.3s;
    pointer-events: none; 
}
#main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}
#side-bar {
    width: 17%;
    display: flex;
    flex-direction: column;
    margin-top: 6vmin;
    border: 1px solid #39FF14;
    border-radius: 16px;
}
.side-bar-titles {
    flex-direction: column;
    display: flex;
    color: #39FF14;
}
.items {
    color: #39FF14;
    height: 10vmin;
    align-items: center;
    justify-content: center;
    display: none;
    cursor: pointer;
}
.titles:hover {
    background:rgba(128, 128, 128, 0.3) ;
    color:  #39FF14;
}
.titles {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vmin;
    cursor: pointer;
}
#side-bar-content {
    width: 83%;
}
.active {
    background-color: #39FF14;
    color: #050505;
}