#footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background: linear-gradient(270deg, #09110d 10%, #132017);
    border-top: 1px solid rgba(27, 217, 106, 0.1);
}
.footer-columns {
    flex: 1;
    display: flex;
    max-width: 70%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 3vmin;
    margin-bottom: 10vmin;
}
.footer-columns:first-child {
    max-width: 30%;
    align-items: center;
}
.footer-columns-items {
    flex: 1;
    margin-top: 1vmin;
    min-width: 14vw;
}
.footer-columns-items h3 {
    color: #fff;
    font-weight: 900;
}
.footer-columns-items a {
    text-decoration: none;
    color: #b0bac5;
    display: block;
    margin-top: 1vmin;
}
.footer-columns-items a:hover {
    text-decoration: underline;
}
.footer-columns img {
    max-width: 15vmin;
}