* {                                 /*  清除所有的外内边距并改变盒子模式为border-box */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {                         /*  设置初始高度 */
    height: 100%;
    scroll-behavior: smooth;
}
body {                              /*  设置整体背景，布局为flex布局 */
    min-height: 100vh;
    background-color: #050505;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
}

br.gap-small {                      /*  缩小间隔的css */
    display: block;
    margin: 5px;
}
#particle-canvas {                  /*  背景粒子的画布css */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
}


#device-introduction {              /*  产品简介css */
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 38px;
    padding: 20px;
    width: 100%;
    margin-top: 18vh;
}
#device-introduction h1 {               /*  产品简介标题css */
    flex: 1;
    width: 100%;
}
#device-introduction div {
    margin: 10px 10px -100px 10px;
}
#device-introduction p {
    color: rgb(156 163 175);
    font-size: 26px;
    margin-top: 2%;
}
#device-introduction #version {
    font-size: 16px;
    color: #39FF14;
    word-spacing: 0.2em;
    letter-spacing: 0.3em;
}
#device-introduction button {           /*  产品简介按钮css */
    min-width: 150px;
    padding: 15px 30px;
    margin: 15px;
    border: 1px solid #39FF14;
    background-color: #39FF14;
    color: #050505;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}
#device-introduction button:hover {         /*  产品简介按钮动画 */
    transform: scale(1.05);
}
#device-introduction button:last-child {            /*  产品简介按钮css */
    border-color: #e0e0e0;
    color: #fff;
    background-color: #050505;
}
#device-introduction button:last-child:hover {          /*  产品简介按钮动画 */
    border-color: #39FF14;
    color: #39FF14;
}
#device-introduction span {                         /*  产品简介中的大字号字体的span盒子的css */
    text-align: center;
    margin: 5% 5% 5%;
}
#device-introduction span:last-child {
    background: linear-gradient(to left, #fff, #39FF14);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#gap-small {
    margin: 50px 10px 10px 10px;
}
#features {                                     
    width: 100%;
    padding: 40px 20px;
}
#features-container {                           /*  产品特点容器css */
    width: 100%;
    max-width: 1200px;
    margin: 120px auto;
}
#text-center {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}
#divider {
    border: 2px solid #39FF14;
    width: 60px;
    margin: 20px auto 30px;
}
#features-container span {
    color: #39FF14;
}
#cards-container {                          /*  特点卡片容器css */
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#cards-container:hover .feature-card {
    animation-play-state: paused;
}
.feature-img {                              /*  特点卡片图片css */
    width: 64px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(57 255 20 / 0.3);
    margin: 30px 10px 30px 30px;
}
.feature-card {                             /*  特点卡片css */
    position: absolute;
    min-width: 280px;
    max-width: 350px;
    border: 1px solid rgba(57, 255, 20, 0.1);
    border-radius: 10px;
    padding: 20px;
    background: rgba(26, 26, 26, 0.6);
    opacity: 0.7;
    z-index: 1;
    transition: boder-color 0.3s ease;
    animation: rotateCard 9s infinite;
    display: flex;
    flex-direction: column;
}
.feature-card:hover {                   
    border-color: #39FF14;
}
.feature-card:nth-child(1) {                /* 宽屏时各个卡片动画延迟时间 */
    animation-delay: -6s;
}
.feature-card:nth-child(2) {
    animation-delay: -3s;
}
.feature-card:nth-child(3) {
    animation-delay:0s;
}
@keyframes rotateCard {                     /*  宽屏时卡片动画 */
    0%   { transform: translateX(0px) scale(1.15); opacity: 1; z-index: 2; }
    33%  { transform: translateX(380px) scale(1); opacity: 0.7; z-index: 1; }
    66%  { transform: translateX(-380px) scale(1); opacity: 0.7; z-index: 1; }
    100% { transform: translateX(0px) scale(1.15); opacity: 1; z-index: 2; }
}
@keyframes carousel {                           /*  窄屏时卡片动画 */
    0%   { opacity: 0.7; transform: scale(1); z-index: 1; }
    10%  { opacity: 1;   transform: scale(1.15); z-index: 2; }
    33%  { opacity: 1;   transform: scale(1.15); z-index: 2; }
    43%  { opacity: 0.7; transform: scale(1); z-index: 1; }
    100% { opacity: 0.7; transform: scale(1); z-index: 1; }
}
@media(max-width: 1132px) {             /*  窄屏时改变卡片的布局效果使之能够换行适配屏幕 */
    #cards-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 100%;
        
    }
    .feature-card {
        position: relative;
        animation: carousel 6s infinite;
    }
    .feature-card:nth-child(1) {            /* 窄屏时各个卡片动画延迟时间 */
            animation-delay: 0s;
    }
    .feature-card:nth-child(2) {
            animation-delay: 2s;
    }
    .feature-card:nth-child(3) {
        animation-delay: 4s;
    }
    #footer {
        margin-top: 15vh;
    }
}
.feature-card h3 {
    font-size: 24px;
    margin: 20px 0;
}
.feature-card p {
    color: rgb(156 163 175);
    line-height: 1.6;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 4px;
    width: 100%;
}
.container h2 {
    font-size: 62px;
    margin-top: 5vh;
    text-align: center;
}
.container p {
    color: rgb(156 163 175);
    font-size: 28px;
}
#system-components {
    width: 100%;
    margin-top: 40vh;
}
.components-tab-container {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.components-tab {
    width: 24vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vmin;
    background-color: #27292E;
    color: rgb(156 163 175);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease,transform 0.3s ease,box-shadow 0.3s ease;
}
.components-tab:hover {
    background-color: #1BD96A40;
    transform: translateY(-10px);
    color: #1BD96A;
    box-shadow: 0 0 20px 4px #1BD96A80, 0 0 40px 8px #1BD96A40;
}
.active {                       
    color: #050505;
    background-color: #39FF14;
}
.active:hover {
    background-color: #39FF14;
    color: #050505;
}
.tab-content {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tab-content-elements {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    width: 100%;
    background: #27292E;
    transition: background-color 0.3s ease,transform 0.3s ease,box-shadow 0.3s ease;
}
.tab-content-elements:nth-child(2) {
    display: flex;
}
.tab-content-elements:hover {
    background-color: #1BD96A40;
    transform: translateY(-10px);
    color: #1BD96A;
    box-shadow: 0 0 20px 4px #1BD96A80, 0 0 40px 8px #1BD96A40;
}
.main-content {
    width: 50%;
    padding-left: 4vmin;
    margin-top: 8vmin;
    flex: 1;
    min-width: 450px;
}
.main-content h3 {
    padding-left: 6vmin;
    padding-right: 6vmin;
    font-size: 40px;
    background: linear-gradient(to left, #fff, #39FF14);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-content p {
    margin-top: 7vmin;
    padding-left: 6vmin;
    padding-right: 6vmin;
    font-size: 19px;
}
.main-content ul {
    font-size: 19px;
    margin-top: 7vmin;
    padding-left: 6vmin;
    padding-right: 6vmin;
    margin-bottom: 8vmin;
}
.main-content ul li {
    margin-bottom: 2vmin;
    color: rgb(156 163 175);
}
.main-content ul li::after {
    content: '';
    display: block;
    border: 1px solid #1BD96A40;
    width: 100%;
    margin-top: 1vmin;
}
.main-content ul li strong {
    color: #fff;
}
#download {
    flex-wrap: wrap;
    margin-bottom: 10vh;
    gap: 30px;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: row;
    display: flex;
}
.download-button {
    background: #050505;
    height: 10vh;
    width: 16vw;
    border-radius: 15px;
    min-width: 200px;
    border-radius: 15px;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}
.download-button span{
    font-size: 40px;
}
.download-button:hover {
    transform:translateY(-5px) ;
}
.download-button:last-child {
    background-color: #39FF14;
    color: #050505;
}
.download-button i {
    font-size: 36px;
}
.download-button-text {
    flex-direction: column;
    display: flex;
}
.download-button-text span {
    font-size: 12px;
}
.download-button-text span:last-child {
    font-size: 20px;
}
.main-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-top: 8vmin;
    width: 40%;
    min-width: 450px;
    margin-right:3vmin;
}
.main-img img {
    width: 100%;
    object-fit: cover;
    max-width: 500px;
    border-radius: 20px;
}
#app-img {
    height: 100%;
    width: auto;
}



#technical-specifications {
    margin-top: 15vh;
    width: 100%;
}
#spec-features {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 15vh;
}
.spec-features-cards {
    background: #27292E;
    transition: background-color 0.3s ease,transform 0.3s ease,box-shadow 0.3s ease;
    height: 90vh;
    width: 26%;
    min-width: 280px;
    border-radius: 10px;
}
.spec-features-cards:hover {
    background-color: #1BD96A40;
    transform: translateY(-10px);
    color: #1BD96A;
    box-shadow: 0 0 20px 4px #1BD96A80, 0 0 40px 8px #1BD96A40;
}
.spec-features-cards h3 {
    padding: 6vmin;
    padding-bottom: 2vmin;
    font-size: 28px;
}
.spec-features-cards h3::after {
    content: "";
    display: block;
    width: 100%;
    background:linear-gradient(to left, #fff, #39FF14);
    margin-top: 4vh;
    height: 4px;

}
.spec-features-cards table {
    padding-left: 6vmin;
    padding-right: 6vmin;
    width: 100%;
}
.spec-features-cards tr {
    border:1px solid rgb(156 163 175);
}
.spec-features-cards tr td {
    padding: 12px 0;
    color:  rgb(156 163 175);
}
.spec-features-cards tr td:last-child {
    color: #fff;
    font-weight: 800;
    text-align: right;
}



#comparison {
    width: 100%;
    margin-top: 15vh;
}
#comparison-features {
    gap: 50px;
    margin-top: 15vh;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.comparison-features-cards {
    border-radius: 16px;
    background: #27292A;
    width: 25%;
    transition: background-color 0.3s ease,transform 0.3s ease,box-shadow 0.3s ease;
    min-width: 310px;
}
.comparison-price {
    margin: 2vmin 6vmin;
    color: #39FF14;
    text-align: center;
    font-size: 50px;
}
.comparison-features-cards h3 {
    text-align: center;
}
.comparison-features-cards ul {
    list-style: none;
    margin: 5vh 6vmin 5vmin 6vmin;
}
.comparison-features-cards ul li {
    margin-bottom: 2vmin;
}
.comparison-features-cards ul li::after {
    content: "";
    display: block;
    border: 1px solid #1BD96A40;
    margin-top: 2vmin;
}
.check {
    color:#34c759;
}
.crose {
    color: #ff3b30;
}
.comparison-features-cards:hover {
    background-color: #1BD96A40;
    transform: translateY(-10px);
    box-shadow: 0 0 20px 4px #1BD96A80, 0 0 40px 8px #1BD96A40;
}
.comparison-buy {
    border-radius: 10px;
    background-color: #D2D2D7;
    height: 10vh;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 6vh;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #050505;
}
.suggest-buy {
    background-color: #39FF14;
    color: #050505;
    cursor: pointer;
}



#buy {
    width: 100%;
    margin-top: 15vh;
}
#buy-options {
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    margin-top: 15vh;
    width: 100%;
}
.buy-cards {
    background: #27292A;
    min-width: 310px;
    width: 25%;
    border-radius: 10px;
    transition: background-color 0.3s ease,transform 0.3s ease,box-shadow 0.3s ease;
}
.buy-cards:hover {
    background-color: #1BD96A40;
    transform: translateY(-10px);
    box-shadow: 0 0 20px 4px #1BD96A80, 0 0 40px 8px #1BD96A40;
}
    
.buy-cards:nth-child(2) {
    background: linear-gradient(320deg, #1BD96A80, #39FF1480);
    position: relative;
}
.buy-cards:nth-child(2) .comparison-buy {
    background-color: #39FF14;
    color: #050505;
}
.buy-cards h3 {
    font-size: 20px;
    padding: 6vmin;
    padding-bottom: 3vmin;
}
.buy-cards p {
    font-size: 16px;
    padding-bottom: 3vmin;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 3vmin 6vmin;
}
.buy-cards ul {
    padding: 3vmin 6vmin;
    list-style: none;
}
.buy-cards ul li {
    margin-bottom: 2vmin;
}
.buy-price {
    padding-right: 6vmin;
    padding-left: 6vmin;
    font-size: 40px;
}
#suppose {
    border-radius: 15px;
    position: absolute;
    left: 38%;
    top: -15px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24%;
    background-color: #39FF14;
    color: #050505;
}