name = 'acu-web'
main = "index.js"
compatibility_date = "2025-11-01"

[env.images]
name = "acu-images"
main = "functions/ACU_images/index.js"

[env.videos]
name = "acu-videos"
main = "functions/ACU_videos/index.js"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
