* {
    margin: 0;
    padding: 0;
}
body {
    background-color: lightgray;
}
#ACU_head {
    background-color: #2c3e50;
    height: 100px;
}
#ACU_head-item1 {
    float: left;
    font-size: 28px;
    text-align: center;
    line-height: 100px;
    width: 220px;
    background-color: #2c3e50;
    color: white;
    font-weight: 700;
}
#ACU_head-item1 span {
    color: lightblue;
}
#ACU_head-item4,
#ACU_head-item2,
#ACU_head-item3 {
    float: right;
    line-height: 100px;
    width: 100px;
    background-color: #2c3e50;
    font-size: 18px;
}
#ACU_head div a {
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: #2c3e50;
}
#ACU_head div a:hover {
    color: lightblue;
}
#AVU_body {
   height: 800px;
}
#ACU_body-left {
    float: left;
    margin: 30px 20px 30px 40px;
    background-color: white;
    border-radius: 5px;
    width: 270px;
    height: 800px;
}
#ACU_body-left1 {
    background-color: #c3c3c3;
    margin: 20px ;
    height: 80px;
    border-radius: 5px;
    width: 230px;
}
#ACU_body-left1 div {
    float: left;
    text-align: center;
}
.ACU_body-left1-1 {
    font-size: 16px;
    font-weight: 800;
    color: black;
    text-align: center;
    height: 30px;
    width: 67px;
    float: left;
    margin: 24px -13px 10px 12px;
}
h2 {
    margin: 20px;
    font-size: 20px;
}
hr {
    margin: 20px 20px 20px 20px;
}
.ACU_body-left1-2 {
    float: left;
    height: 20px;
    width: 67px;
    line-height: 20p;
    text-align: center;
    margin: -18px -13px 10px 12px;
    color: gray;
}
#ACU_body-left2 div {
    margin: 0px 20px 20px 20px;
}
#ACU_body-left3 div {
    margin: 0px 20px 20px 20px;
}
#ACU_body-left3 div:hover {
    color:skyblue;
    transition: all 0.3s ease;
}
#ACU_body-right {
    float: left;
    margin: 30px 20px 30px 20px;
    background-color: white;
    border-radius: 5px;
    width: 70%;
    height: 800px;
}
#ACU_body-right1 {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}
#ACU_body-right1-item1 {
    float: left;
    margin: 10px 20px;
    font-size: 24px;
    font-weight: 700;
}
#ACU_body-right1-item2 {
    float: right;
    margin: 5px 20px;
    border: 1px solid lightgreen;
    background-color: lightgreen;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 96px;
}
h1 {
    margin: 10px 20px 20px 20px;
    font-size: 24px;
    color:skyblue;
}
#ACU_body-right2 {
    border-bottom: 1px solid lightgray;
    height: 210px;
}
#ACU_body-right3 {
    border-bottom: 1px solid lightgray;
    height: 210px;
}
#ACU_body-right4 {
    border-bottom: 1px solid lightgray;
    height: 210px;
}
.people {
    width: 100%;
    height: 30px;
    margin: -20px 0 0 0;
}
.people div {
    float: left;
    width: 100px;
    height: 30px;
    color: #c3c3c3;
    text-align: center;
    line-height: 30px;
}
.people div:first-child {
    margin:0 0 0 -4px;
}
.ACU_text {
    margin: 10px 20px 10px 20px;
    width: 95%;
    height: 90px;
}
.data {
    width: 100%;
    height: 30px;
    margin: 10px 0 0 0;
}
.data div {
    float: left;
    width: 100px;
    height: 30px;
    color: #c3c3c3;
    text-align: center;
    line-height: 30px;
}
.data div:first-child {
    margin:0 0 0 2px;
}
#ACU_enter-button  {
    float: right;
}
#ACU_enter-button  a {
    text-decoration: none;
}

