/*下划线样式*/
.ACU_cut-off{
  margin: 60px 0 0 0;
  border-top: 2px solid aliceblue;
  width: 100%;
}
/*标题样式*/
.ACU_title{
    width: fit-content;
    margin: 25px auto;
    padding: 20px 50px;
    border: 2px solid #4fc3f7;
    border-radius: 25px;
    background: #fff;
    color: #2196f3;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(33,150,243,0.1);
    transition: transform 0.2s cubic-bezier(.25,1.5,.75,1.25), box-shadow 0.2s;
    outline: none;
    text-decoration: none;
    position: relative;
    text-align: center;
}
.ACU_title:active {
    transform: scale(0.90, 1.1);
    box-shadow: 5px 5px 20px rgba(33,150,243,0.2);
}
.ACU_title:hover {
    background: #e3f2fd;
    color: #1565c0;
    border-color: #1565c0;
}