* {
    margin: 0;
    padding: 0;
}
#ACU_head {
    background-color: red;
    color: rgb(255, 255, 255);
    border-radius: 0px;
    height: 100px;
    padding-top: 10px;
}
#ACU_head1 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 0 135px;
}
#ACU_head2 {
    margin: 0 0 0 135px;
}
#ACU_logo {
    float: left;
    background-color: rgb(255,255,255);
    color: red;
    height: 64px;
    width: 64px;
    margin: 10px 0 0 50px;
    border-radius: 32px;
    text-align: center;
    line-height: 64px;
    font-size: 20px;
}
body {
    background-color: lightgray;
}
h1 {
    color: red;
    margin-left:30px;
}
hr {
    border: 1px solid orange;
    margin: 10px 30px 20px 30px;
}
#ACU_main {
    background-color: rgb(255,255,255);
    border: 1px solid;
    border-color: rgb(255,255,255);
    margin-left: 30px;
    width: 70%;
}
#ACU_main h3 {
    font-size: 18px;
    color: red;
    margin-left: 20px;
}
#ACU_main span {
    font-size: 14px;
    color: gray;
    margin-left: 20px;
}
#ACU_main p {
    margin-left: 20px;
}
#ACU_main div {
    background-color: lightgray;
    margin:20px 30px;
    border-left: 3px solid red;
}
#ACU_main div:hover {
    box-shadow: 0px 3px 3px rgba(205, 205, 205,0.6) ;
    transition: all 0.3s ease;
}
#ACU_main div div {
    background-color: red;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 40px;
    border-left:0 none;
}
#ACU_main div div:hover {
    background-color: lightblue;
}
#ACU_main div div a {
    text-decoration: none;
    color: black;
}


