@font-face {
  font-family: "iconfont"; /* Project id 5066366 */
  src: url('iconfont.woff2?t=1763790207143') format('woff2'),
       url('iconfont.woff?t=1763790207143') format('woff'),
       url('iconfont.ttf?t=1763790207143') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duihua:before {
  content: "\e600";
}

.icon-suoding:before {
  content: "\e6e6";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-renwu-ren:before {
  content: "\e749";
}

.icon-liaotian:before {
  content: "\e669";
}

.icon-dianhua:before {
  content: "\e65f";
}

.icon-huihua:before {
  content: "\e6c9";
}

.icon-rili:before {
  content: "\e640";
}

.icon-caiwu:before {
  content: "\e68d";
}

.icon-shezhi:before {
  content: "\e60f";
}

.icon-xiaoxi:before {
  content: "\e6a5";
}

.icon-weizhichangdi:before {
  content: "\e6a9";
}

.icon-renqun:before {
  content: "\e60e";
}

